<div class="container mt-5 table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% if send_data['app_data'] %}
                    {# Extract the headers from the first dictionary #}
                    {% for header in send_data['app_data'][0].keys() %}
                        <th>{{ header }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for row in send_data['app_data'] %}
        <tr class="gasam app_management app-{{row['id']}}">
            {% for value in row.values() %}
                {% if loop.index == 2 %} <!-- Check if it's the third row -->
                    <td>
                        <form class="gasam app_management change_app_data form title app-{{row['id']}}" autocomplete="off">
                            <input type="hidden" name="app_id" value="{{row['id']}}">
                            <input type="hidden" name="target" value="title">
                            <input type="text" name="title" value="{{ value }}">
                            <button type="submit" class="btn btn-secondary mt-2 gasam app_management change_app_data title app-{{row['id']}}">Change</button>
                        </form>
                    </td>
                {% elif loop.index == 3 %} <!-- Check if it's the third row -->
                    <td>
                        <form class="gasam app_management change_app_data form subtitle app-{{row['id']}}" autocomplete="off">
                            <input type="hidden" name="app_id" value="{{row['id']}}">
                            <input type="hidden" name="target" value="subtitle">
                            <textarea name="subtitle">{{ value }}</textarea>
                            <button type="submit" class="btn btn-secondary mt-2 gasam app_management change_app_data subtitle app-{{row['id']}}">Change</button>
                        </form>
                    </td>
                {% elif loop.index == 4 %} <!-- Check if it's the third row -->
                    <td>
                        <form class="gasam app_management change_app_data form app_url app-{{row['id']}}" autocomplete="off">
                            <input type="hidden" name="app_id" value="{{row['id']}}">
                            <input type="hidden" name="target" value="app_url">
                            <input type="text" name="app_url" value="{{ value }}">
                            <button type="submit" class="btn btn-secondary mt-2 gasam app_management change_app_data app_url app-{{row['id']}}">Change</button>
                        </form>
                    </td>
                {% elif loop.index == 6 %} <!-- Check if it's the third row -->
                    <td>
                        <form class="gasam app_management change_app_data form delete_app app-{{row['id']}}" autocomplete="off">
                            <input type="hidden" name="app_id" value="{{row['id']}}">
                            <input type="hidden" name="target" value="delete_app">
                            {% if row['app_url'] != 'user_management' and row['app_url'] != 'app_management' %}
                            <button type="submit" class="btn btn-danger mt-2 gasam app_management change_app_data delete_app app-{{row['id']}}">Delete</button>
                            {% endif %}
                        </form>
                    </td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>