.gasam.ftlc.app-container {
  overflow-y: scroll;
  padding-right: 30px;
}

#chart {
    width: 100%;
    height: 100vh;
    position: relative;

}


.gasam.ftlc.tt {
    width: 100%;
    height: 80px;
    position: absolute;
    display: block;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu, sans-serif;
    -moz-osx-font-smoothing: grayscale;
}

.gasam.ftlc.tt div {
  float: left;
  margin: 10px;
  font-size: medium;
}

.btn.gasam.ftlc.tbl {
  width: 100%;
}

.gasam.ftlc.bull {
  background-color: #06dd06;
}

.gasam.ftlc.bear {
  background-color: red;
}

.gasam.ftlc.nope {
  background-color: gray;
}

.gasam.ftlc.sbull {
  background-color: #005300;
}

.gasam.ftlc.sbear {
  background-color: #600000;
}

.gasam.ftlc.ms {
  font-size: 0.7em;
}

.form-floating:not(.form-control:disabled)::before {
    background-color: transparent !important;
}

.gasam.ftlc.sma.div {
    height: 100%;
    display: block;
}