{% include "header.html" %}

{% if user_approved: %}
  {% extends "base.html" %}
    {% block content %}
    <!-- Your content goes here -->
    <div class="container">
        <h1 class="text-center mt-5">𒉣𒈨𒋳</h1>
        <p class="text-center mt-5">You account is in good standing.</p>
        <p class="text-center">Pick a tool on the left.</p>
    </div>
    {% endblock %}

{% else: %}
    <div class="container">
      <p class="text-center">Your account is pending approval. You will receive email with confirmation.</p>
    </div>
{% endif %}

{% include "footer.html" %}
