{% include "header.html" %}

{% if user_approved: %}
  {% extends "base.html" %}
    {% block content %}
    <div class="container mt-5">
        <div class="container">
            <div class="row">
                <label class="col-12 col-md-6 mt-3 text-center" for="gasamProfileUserEmail">User Email</label>
                <div class="col-12 col-md-6 position-relative p-0 mt-3">
                    <input class="form-control" id='gasamProfileUserEmail' type="text" value="{{ user_email }}" autocomplete="off" />

                </div>
            </div>
            <div class="row">
                <label class="col-12 col-md-6 mt-3 text-center" for="gasamSettingsUserPassword">Set New Password</label>
                <div class="col-12 col-md-6 position-relative p-0 mt-3">
                    <input type="password" class="form-control" id="gasamSettingsUserPassword" placeholder="Password" name="password" required oninput="proceedBttnControl('gasamSettingsUserPassword', 'gasamSettingsUserRepeatPassword')">
                    <span class="toggle-password position-absolute" id="gasamTogglePassword" style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <label class="col-12 col-md-6 mt-3 text-center" for="gasamSettingsUserRepeatPassword">Repeat New Password</label>
                <div class="col-12 col-md-6 position-relative p-0 mt-3">
                    <input type="password" class="form-control" id="gasamSettingsUserRepeatPassword" placeholder="Repeat Password" name="repeat_password" required oninput="validatePassword('gasamSettingsUserPassword', 'gasamSettingsUserRepeatPassword')">
                    <span class="toggle-password" id="gasamToggleRepeatPassword">
                     <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>
            <!-- Button to trigger the modal -->
            <br>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal" id="gasamProceedBttn">
                    Save Changes
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Type password to save changes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="form-floating password-container">
                      <input type="password" class="form-control" id="settingsPassword" placeholder="Password" name="password" required >
                        <span class="toggle-password" id="togglePassword">
                          <i class="fa fa-eye"></i>
                        </span>
                        <label for="settingsPassword">Password</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="gasamSettingsSaveChangesBttn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="exampleToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="toast-header">
                <strong class="me-auto">Notification</strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Changes have been saved.
            </div>
        </div>
    </div>
    {% endblock %}

{% else: %}
    <div class="container">
      <p class="text-center">Your account is pending approval. You will receive email with confirmation.</p>
    </div>
{% endif %}

{% include "footer.html" %}
